@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background-color: #000000;
    transition: background 0.5s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

/* propiedades del menu responsivo */

header{
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 50px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover{
    padding: 14px 50px;
    border: none;
    background: #ffffff;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}


.btn__header-register:hover,
.btn__register-cover:hover{
    background: #69F1A1;
    color: #ffffff;
}

#icon_menu{
    display: none;
}

/* menu */

@media (max-width: 1024px){

    .container__header,
    main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register{
        display: none;
    }

    .menu{
        height: 0%;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .mostrar_menu{ /*CLASE MANIPULADA POR JS*/
        height: 335px;
    }

    .text__information-cover h1{
        font-size: 40px;
    }

    .text__information-cover p{
        font-size: 16px;
    }

    .banner__text h2{
        font-size: 22px;
    }

    #icon_heart{
        left: -60px;
    }

    .banner__icon-fire{
        right: -20px;
    }
}

@media (max-width: 920px){
    .text__information-cover{
        width: 100%;
    }

    .media__cover{
        display: none;
    }

    .banner{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire{
        display: none;
    }

    #icon_heart{
        left: 0;
    }

    .banner__text{
        width: 100%;
        margin-top: -100px;
    }

    video{
        width: 100%;
    }

    img{
        width: 100%;
    }

    div.info2{
        flex-direction: column;
    }

    div.info3{
        flex-direction: column;
    }

    .titulo1{
        width: 100%;
        font-size: 10px;
    }
}

/* titulo */

.titulog{
    display: contents;
    align-items: center;
    text-align: center;
    width: 40%;
    position: relative;
}

.titulo1{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.titulo2{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.titulo3{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.titulo4{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.titulo5{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}


/* banner */

.contenedor-banner{
    background: url(../assets/images/banner5.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    transition: 0.5s;
}

.contenedor-banner2{
    background: url(../assets/images/banner7.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    transition: 0.5s;
}

.contenedor-banner3{
    background: url(../assets/images/banner9.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    transition: 0.5s;
}

.contenedor-banner4{
    background: url(../assets/images/banner11.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    transition: 0.5s;
}

.contenedor-banner5{
    background: url(../assets/images/banner13.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    transition: 0.5s;
}

.banner{
    padding-right: 24%;
    padding-left: 24%;
    padding-bottom: 24%;
}

.banner2{
    padding-top: 10%;
    padding-right: 24%;
    padding-left: 24%;
    padding-bottom: 24%;
}

.banner3{
    padding-top: 10%;
    padding-right: 24%;
    padding-left: 24%;
    padding-bottom: 24%;
}

.banner4{
    padding-top: 10%;
    padding-right: 24%;
    padding-left: 24%;
    padding-bottom: 24%;
}

.banner5{
    padding-top: 10%;
    padding-right: 24%;
    padding-left: 24%;
    padding-bottom: 24%;
}

/* info */

.info{
    align-items: center;
    display: flex;
}

.parrafo{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.parrafo2{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.parrafo3{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.parrafo4{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.parrafo5{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.parrafo6{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.parrafo7{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.parrafo8{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.parrafo9{
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

/* Propiedades del Dark & Light */

#contenedor{
    background-color: rgb(158, 158, 158);
    position: fixed;
    left: 1%;
    bottom: 2%;
    width: 70px;
    height: 30px;
    box-shadow: inset 4px 4px 6px #6e6e6e,
                inset -4px -4px 6px rgba(0, 0, 0, 0.667);
    margin-top: 350px;
    margin: 0px auto;
    border-radius: 25px;
    cursor: pointer;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transform: scale(.7);
    background-image: url(../assets/images/luna2.png);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #c4c4c4;
    transition: 0.5s;
}


#contenedor.active .toggle{
    left: 40px;
}

body.active{
    background-color: #ebebeb;
}

.titulo1.active{
    color: black;
}

.titulo2.active{
    color: black;
}

.titulo3.active{
    color: black;
}

.titulo4.active{
    color: black;
}

.titulo5.active{
    color: black;
}

.parrafo.active{
    color: black;
}

.parrafo2.active{
    color: black;
}

.parrafo3.active{
    color: black;
}

.parrafo4.active{
    color: black;
}

.parrafo5.active{
    color: black;
}

.parrafo6.active{
    color: black;
}

.parrafo7.active{
    color: black;
}

.parrafo8.active{
    color: black;
}

.parrafo9.active{
    color: black;
}

.contenedor-banner.active{
    background-image: url(../assets/images/banner6.png);
}

.contenedor-banner2.active{
    background-image: url(../assets/images/banner8.png);
}

.contenedor-banner3.active{
    background-image: url(../assets/images/banner10.png);
}

.contenedor-banner4.active{
    background-image: url(../assets/images/banner12.png);
}

.contenedor-banner5.active{
    background-image: url(../assets/images/banner14.png);
}

/* info con flex */

.info2{
    align-items: center;
    display: flex;
}

.info3{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.img-parrafo{
    padding: 5%;
}

  /* Estilo del pie de página */
  .footer {
    margin-top: 10%;
    background-color: #ffffff; /* Color de fondo azul oscuro */
    color: rgb(0, 0, 0); /* Color de fuente blanco */
    padding: 20px; /* Espacio alrededor del contenido */
    display: flex; /* Usar un diseño flexible */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias filas */
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: center; /* Alinear los elementos verticalmente */
  }

  /* Estilo del correo electrónico */
  .footer-email {
    font-weight: bold; /* Fuente en negrita */
    text-decoration: none; /* Sin subrayado */
    color: rgb(0, 0, 0); /* Color de fuente blanco */
  }

  /* Estilo de los enlaces */
  .footer-links {
    list-style: none; /* Sin viñetas */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin relleno */
  }

  .footer-links li {
    display: inline-block; /* Mostrar los elementos en línea */
    margin-right: 10px; /* Espacio a la derecha de cada elemento */
  }

  .footer-links a {
    text-decoration: none; /* Sin subrayado */
    color: rgb(0, 0, 0); /* Color de fuente blanco */
  }